{# Form start is like form method=POST #}
{{ form_start(articleForm) }}
{{ form_row(articleForm.title, {
		label: 'Article Title',
	}) }}
{{ form_row(articleForm.content) }}
{% if articleForm.publishedAt is defined %}
	{{ form_row(articleForm.publishedAt) }}
{% endif %}

{{ form_row(articleForm.location) }}

{% if articleForm.specificLocationName is defined %}
	{# {% if articleForm.vars.data.location is not null %} #}
		{{ form_row(articleForm.specificLocationName) }}
	{# {% endif %} #}
{% endif %}

{{ form_row(articleForm.author) }}

<button type="submit" class="btn btn-primary">{{ button_text }}
</button>
{{ form_end(articleForm) }}
{# {/form} #}
